bin

# Visual Studio clutter
_ReSharper*
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
.vs
CMakeSettings.json
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.opensdf

# Xcode clutter
GLFW.build
GLFW.xcodeproj

# macOS clutter
.DS_Store

# Makefile generator clutter
Makefile